<!-- <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100">
          
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">SKU: {{ product.sku }}</p>
            <p class="card-text">Category: {{ product.category }}</p>
            <p class="card-text fw-bold text-success">₹{{ product.price }}</p>
            <p class="card-text">Stock: {{ product.stock_quantity }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">SKU</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        

      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock_quantity }}</td>
        <td><button  type="submit" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openEditModal(product)">Edit</button></td>
        <!-- <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openEditModal(product)">
          Edit
        </button> -->
        <td><button  type="submit" class="btn btn-outline-secondary" (click)="deleteProduct(product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>



  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="productName" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="productName" [(ngModel)]="selectedProduct.name" name="name">
            </div>
            <div class="mb-3">
              <label for="productSku" class="form-label">SKU</label>
              <input type="text" class="form-control" id="productSku" [(ngModel)]="selectedProduct.sku" name="sku">
            </div>
            <div class="mb-3">
              <label for="productCategory" class="form-label">Category</label>
              <input type="text" class="form-control" id="productCategory" [(ngModel)]="selectedProduct.category" name="category">
            </div>
            <div class="mb-3">
              <label for="productPrice" class="form-label">Price</label>
              <input type="number" class="form-control" id="productPrice" [(ngModel)]="selectedProduct.price" name="price">
            </div>
            <div class="mb-3">
              <label for="productQuantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="productQuantity" [(ngModel)]="selectedProduct.stock_quantity" name="stock_quantity">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-secondary" (click)="updateProduct()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createProductModal">
    Add Product
  </button>
  
  <div class="modal fade" id="createProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createProductModalLabel">Add New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input [(ngModel)]="newProduct.name" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">SKU</label>
            <input [(ngModel)]="newProduct.sku" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Category</label>
            <input [(ngModel)]="newProduct.category" type="text" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input [(ngModel)]="newProduct.price" type="number" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Stock Quantity</label>
            <input [(ngModel)]="newProduct.stock_quantity" type="number" class="form-control">
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="createProduct()" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>